################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/PowerWeatherApp/.vs
/PowerWeatherApp/Content
/PowerWeatherApp/bin
/packages
/MigrationBackup
/PowerWeatherApp/obj/Debug
/PowerWeatherApp/Scripts
/PowerWeatherApp.Api/.vs
/PowerWeatherApp.Api/App_Data/logs/log-20260326.txt
/PowerWeatherApp.Api/bin
/PowerWeatherApp.Api/obj
/PowerWeatherApp.Application/.vs
/PowerWeatherApp.Application/bin/Debug
/PowerWeatherApp.Application/obj
/PowerWeatherApp.Domain/.vs
/PowerWeatherApp.Domain/bin/Debug
/PowerWeatherApp.Domain/obj
/PowerWeatherApp.Infrastructure/bin/Debug
/PowerWeatherApp.Infrastructure/obj
/PowerWeatherApp.Web/bin/Debug/net8.0
/PowerWeatherApp.Web/obj
/WeatherRepositoryTests/bin/Debug/net8.0
/WeatherRepositoryTests/obj
/PowerWeatherApp
